<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Project draft</title>
    <link rel="stylesheet" href="/Users/aishah/projects/app1/assets/styles.css" />
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      </div>

      <Div>

              <h1>slide 1</h1>
          </div>
          <div>
            <p>this is my first draft of the project that outputs different content along a set of sides that you can scroll down,</p>
          </div>

        <div>
          <p>Scroll down the page to get to the next slide</p>
        </div>
        <hr class="divider">

        <div class="slidess"></div>
        <h1>slide 2</h1>
        <p>This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text.
          This is a single sentence repeated a few times. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text.
          This is a single sentence repeated a few times. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text.
          This is a single sentence repeated a few times. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text.
          This is a single sentence repeated a few times. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text.
          This is a single sentence repeated a few times. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text. This is some dummy text.
          This is a single sentence repeated a few times.<p>
        </div>
        <hr class="divider">

        <div class="slidess"></div>
        <h1>slide 3</h1>

       <script>
          export default{
            data(){
              return{
                text:''
              }
            }
              }
        </script>
        
        <form>
          <h2>Personal Details</h2>
          <p>Insert some text here</p>
          <input v-model="text" placeholder="text here" />
          <br>
          <p>Insert some more text here</p>
          <input v-model="text" placeholder="text here" />
        </form>
        <button v-on:click="click">Click here!</button>
        <p>Your text will be displayed on the fourth slide</p>

      </div>

      <hr class="divider">

      <div class="slidess"></div>
      <h1>slide 4</h1>
      <div class="image">
       <!---- <img v-bind:src="image">-->
        <img src="/Users/aishah/projects/app1/assets/html.png" alt="image1">
      <p>beep boop</p>

    <!-- Import App -->
    <script src="./main.js"></script>
    <script src="/Users/aishah/projects/app1/form.js"></script>
    <!-- Mount App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
  </body>
</html>